<section id="contact">
  <div class="container">
    <h2><strong>Contact Me</strong></h2>
    <span class="bar-title"></span>
    <br />
    <br />

    <div class="jumbotron">
      <!--Section: Contact v.2-->

      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center">
        Ask a question. Say hello.
      </h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">
        We would love the opportunity to interact with you and even help you
        think through a few ideas. <br />
        It all starts with an email. What are you waiting for?
      </p>

      <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
          <form
            id="contact-form"
            name="contact-form"
            action="https://mailthis.to/probsolved"
            method="POST"
          >
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Your Name"
                  />
                  <!-- <label for="name" class="">Your name</label> -->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Your Email Address"
                  />
                  <!-- <label for="email" class="">Your email</label> -->
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="subject"
                    name="subject"
                    class="form-control"
                    placeholder="I have a question about ..."
                  />
                  <!-- <label for="subject" class="">Subject</label> -->
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <div class="md-form">
                  <textarea
                    type="text"
                    id="message"
                    name="message"
                    rows="5"
                    class="form-control md-textarea"
                    placeholder="Say hello!"
                  ></textarea>
                  <!-- <label for="message">Your message</label> -->
                </div>
              </div>
            </div>
            <!--Grid row-->
          </form>

          <div class="text-center text-md-left">
            <a
              class="btn btn-primary"
              onclick="document.getElementById('contact-form').submit()"
              >Send</a
            >
            <a
              class="btn btn-secondary"
              onclick="document.getElementById('contact-form').reset()"
              >Reset Form</a
            >
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
            <li>
              <i class="fa fa-map-marker fa-2x"></i>
              <p>Cape Girardeau, MO, USA</p>
            </li>

            <!-- <li>
              <i class="fas fa-phone mt-4 fa-2x"></i>
              <p>+ 01 234 567 89</p>
            </li> -->

            <li>
              <i class="fa fa-envelope mt-4 fa-2x"></i>
              <p>
                <a href="mailto:paul@probsolved.dev">paul@probsolved.dev</a>
              </p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Section: Contact v.2-->
    </div>
  </div>
</section>
